/*mobile
320x480
320x568
360x640
375x667
412x732
414x736
788x1024
1024x766
1024x1366
*/

@media  (max-width: 575px){

#cabezera-text h1{
    font-size: 16px;
    text-align: left;
}

#cabezera-text p{
    font-size: 12px;
    text-align: left;
}


#about{
  height:20em ;
}
#about-boxtext {
  
}


}